<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.v_ruchd.capstonestage2">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/ChatActivityAppTheme"/>
        <activity android:name=".NewsListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NewsListActivityAppTheme"
            android:parentActivityName=".ChatActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ChatActivity" />
    </activity>
        <activity android:name=".NewsDetailActivity"
            android:configChanges="orientation|screenSize"  android:parentActivityName=".NewsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewsListActivity" />
        </activity>
        <provider
            android:name=".data.NewsProvider"
            android:authorities="com.example.v_ruchd.capstonestage2" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".widget.NewsListWidgetProvider"
            android:enabled="@bool/news_detail_enabled"
            android:label="@string/news_value"
            tools:ignore="ManifestResource">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
                <action android:name="com.udacity.stockhawk.ACTION_DATA_UPDATED"></action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/news_list_info"></meta-data>
        </receiver>
        <service
            android:name=".widget.NewsWidgetRemoteViewService"
            android:enabled="@bool/news_detail_enabled"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            tools:ignore="ManifestResource"></service>
    </application>

</manifest>